<div class="container mx-auto my-5">
  <div class="card-deck">
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
        class="card-img-top" alt="工程師">
      <div class="card-body mx-auto">
        <input type="radio" class="form-check-input" id="engineer" name="engineer" value='engineer'>
        <label class="form-check-label" for="engineer">工程師</label>
      </div>
    </div>
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
        class="card-img-top" alt="設計師">
      <div class="card-body mx-auto">
        <input type="radio" class="form-check-input" id="designer" name="designer" value='engineer'>
        <label class="form-check-label" for="designer">設計師</label>
      </div>
    </div>
    <div class="card">
      <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
        class="card-img-top" alt="創業家">
      <div class="card-body mx-auto">
        <input type="radio" class="form-check-input" id="entrepreneur" name="entrepreneur" value='engineer'>
        <label class="form-check-label" for="entrepreneur">創業家</label>
      </div>
    </div>
  </div>

  <div class="form-group row my-5">
    <div class="generate-button col-2 d-flex align-items-center justify-content-center">
      <button type="submit" class="btn btn-danger">產生</button>
    </div>
    <textarea class="form-control col-10" id="exampleFormControlTextarea1" rows="3" readonly></textarea>
  </div>
</div>